<dl class="large horizontal" id="status_summary">
    <dt>{{ _('Status') }}</dt>  
    <dd>  
    <span class="record-status--text {{ model.builtin.STATUS_CODES[rdoc.status] }}" style="color: {{ utils.status.getScoreColor(rdoc.score|default(0)) }}">  
        {{ model.builtin.STATUS_TEXTS[rdoc.status] }}  
    </span>  
    </dd>  
    {% if typeof(rdoc['score']) == 'number' %}  
    <dt>{{ _('Score') }}</dt>  
    <dd>  
        <span style="font-weight: bold; color: {{ utils.status.getScoreColor(rdoc.score|default(0)) }}">  
        {{ rdoc.score }}  
        </span>  
    </dd>  
    {% endif %}
</dl>