<div class="section visible" id="header" data-status="{{ rdoc.status }}">
  <div class="section__header">
    <h1 class="section__title">
      <span class="icon record-status--icon {{ model.builtin.STATUS_CODES[rdoc['status']] }}"></span>
      {% if typeof(rdoc['score']) == 'number' %}
      <span style="color: {{ utils.status.getScoreColor(rdoc.score|default(0)) }}">{{ rdoc.score|default(0) }}</span>
      {% endif %}
      <span class="record-status--text {{ model.builtin.STATUS_CODES[rdoc['status']] }}">
        {{ model.builtin.STATUS_TEXTS[rdoc['status']] }}
      </span>
      {% if rdoc.progress %}{{ rdoc.progress|int }}%{% endif %}
    </h1>
  </div>
  {% if rdoc.judgeTexts.length %}
    <div class="section__body">
      <pre class="judge-text">{{ formatJudgeTexts(rdoc.judgeTexts)|ansi|safe }}</pre>
    </div>
  {% endif %}
  <div class="card" data-x-group="record" style="--main-color:#3498db;">
    <nav class="x-tab-header" role="tablist" aria-label="Record tabs">
      <ul class="items">
        <li><button class="entry {{ '#pane-cases' == default_tab and 'selected' or '' }}" 
            data-x-target="#pane-cases"
            {% if not rdoc.testCases.length %}
              hidden
            {% endif %}
        >
          {{ _('Test Cases') }}
        </button></li>
        <li><button class="entry {{ '#pane-compiler' == default_tab and 'selected' or '' }}" 
            data-x-target="#pane-compiler"
            {% if not rdoc.compilerTexts.length %}
              hidden
            {% endif %}
        >
          {{ _('Compiler Texts') }}
        </button></li>
        <li><button class="entry {{ '#pane-code' == default_tab and 'selected' or '' }}" data-x-target="#pane-code">
            {{ _('Code') }}
        </button></li>
      </ul>
    </nav>
  </div>
</div>