{% set adocs = payload[0] %}
{% set udict = payload[1] %}
{% set hasmore = payload[2] %}
{% if adocs.length %}
  <div class="section page--announce_main">
    <div class="section__header">
      <h1 class="section__title">{{ _('Announce') }}</h1>
    </div>
    <ol class="section__list discussion__list">
      {%- for adoc in adocs -%}
        <li class="section__list__item discussion__item{% if adoc.highlight %} highlight{% endif %}">
          <div class="media">
            <div class="media__body medium">
              <h1 class="discussion__title"><a href="{{ url('announce_detail', aid=adoc._id) }}" data-emoji-enabled>{{ adoc['title'] }}</a></h1>
              <ul class="supplementary list">
                <li>{{ _('{0} views').format(adoc.views) }}</li>
                <li>{{ user.render_inline(udict[adoc.owner]) }}</li>
                <li>{{ datetimeSpan(adoc.updateAt)|safe }}</li>
                {%- if adoc.hidden -%}
                  <li class="text-orange">({{ _('Hidden') }})</li>
                {%- endif -%}
              </ul>
            </div>
          </div>
        </li>
      {%- endfor -%}
    </ol>
    {% if hasmore %}
      <ul class="pager pager-bottom"><li>
        <a class="pager__item next link" href="{{ url('announce_main') }}">{{ _('More') }} ></a>
      </li></ul>
    {% endif %}
  </div>
{% endif %}